.storybook-button {
  /* position: absolute; */
  width: 80%;
  height: 50px;
  left: 60px;
  top: 671px;
  background: #C1DEFF;
  box-shadow: 0px 4px 4px rgba(45, 45, 45, 0.25);
  border-radius: 10px;
  border: none;
  color: #fff;
  margin: 5px;

}
.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
}
.storybook-button--secondary {
  
}
.storybook-button--small {

}
.storybook-button--medium {

}
.storybook-button--large {

}
